.recent-projects {
  margin-top: 5vw;
  width: 90%;
  display: flex;
}

.project-titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  border-left: 1px solid black;
}

.recent-project-title {
  margin-bottom: 0.3rem;
  margin-top: 0;
  font-weight: 600;
  font-size: calc(7px + 1vw);
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.recent-project-title::after {
  width: calc(100% + 30px);
  display: block;
  content: "";
  background: #d4a405;
  margin-top: -0.7rem;
  margin-left: -12px;
  height: 0.8rem;
  position: absolute;
  z-index: -1;
}

.recent-project-title:hover::after {
  transition: 0.3s;
  margin-top: -2.5rem;
  height: calc(100% + 30px);
}

.project-detail {
  width: 70%;
  padding: 1vw;
  padding-left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selected {
  border-bottom: 1px solid black;
}

.selected::after {
  width: calc(100% + 30px);
  display: block;
  content: "";
  background: #d4a405;
  margin-top: -2.5rem;
  margin-left: -10px;
  height: calc(100% + 30px);
  position: absolute;
  z-index: -1;
}

.date {
  font-weight: 900;
}

.project-summary p {
  font-weight: 200;
  margin-bottom: 1vw;
}

.project-link {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}

.project-link::after {
  width: calc(100% + 30px);
  display: block;
  content: "";
  background: #d4a405;
  margin-top: -0.8rem;
  margin-left: -15px;
  height: 0.8rem;
  position: absolute;
  z-index: -1;
}

.project-link:hover::after {
  transition: 0.3s;
  margin-top: -1.8rem;
  height: 2rem;
}

@media (max-width: 800px) {
  .recent-projects {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
  }
  .project-titles {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-left: none;
    padding-left: 0.5vw;
  }

  .project-detail {
    width: 100%;
  }

  .project-summary p {
    font-weight: 200;
    font-size: calc(8px + 1vw);
  }

  .project-summary li {
    font-weight: 200;
    font-size: calc(8px + 1vw);
  }

  .recent-project-title::after {
    margin-top: -0.3rem;
    height: 0.5rem;
  }

  .recent-project-title:hover::after {
    margin-top: -1.2rem;
    height: 1.5rem;
  }

  .project-link::after {
    margin-top: -0.5rem;
    height: 0.5rem;
  }

  .project-link:hover::after {
    height: 1.8rem;
    margin-top: -1.5rem;
  }
}

@media (max-width: 500px) {
  .recent-project-title::after {
    margin-top: -0.2rem;
    height: 0.3rem;
    margin-left: -6px;
    width: calc(100% + 10px);
  }

  .recent-project-title:hover::after {
    margin-top: -1rem;
    height: 1.2rem;
    margin-left: -6px;
  }
  .project-link::after {
    height: 0.35rem;
    margin-top: -0.8rem;
    margin-left: -7px;
    width: calc(100% + 13px);
  }

  .project-link:hover::after {
    height: 1rem;
    margin-top: -1.1rem;
  }

  .date {
    margin-bottom: 0.5vw;
  }
}

@media (max-width: 400px) {
  .recent-project-title::after {
    margin-top: -0.2rem;
    height: 0.25rem;
    margin-left: -4px;
    width: calc(100% + 11px);
  }

  .recent-project-title:hover::after {
    margin-top: -0.8rem;
    height: 1rem;
  }
  .project-link::after {
    height: 0.3rem;
    margin-top: -0.5rem;
    margin-left: -6px;
    width: calc(100% + 10px);
  }

  .project-link:hover::after {
    height: 0.9rem;
    margin-top: -1rem;
  }
}

@media (max-width: 360px) {
  .recent-project-title {
    text-align: center;
  }
  .recent-project-title::after {
    background: none;
  }

  .project-link {
    font-weight: bolder;
  }

  .project-link::after {
    background: none;
  }
}
