.project {
  padding-top: 5vw;
}

.under-title {
  display: flex;
  /* margin-top: 3vw; */
}

.project-title {
  margin-top: 0;
  position: relative;
  display: inline-block;
}

.img-container .portfolio-img {
  max-width: 300px;
  width: calc(100px + 10vw);
  margin-right: 2vw;
}

.project-content h3 {
  margin-top: 0;
}

.project-langage {
  margin-top: 0;
}

@media (max-width: 650px) {
  .under-title {
    flex-direction: column;
    align-items: center;
  }

  .img-container .project-img {
    margin-bottom: 2vw;
  }
}

@media (max-width: 400px) {
  .project-title {
    font-size: calc(15px + 1vw);
  }
}
