html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    height: 90svh;
    margin: 24px;
    justify-content: space-between;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal-center {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.main-content {
    justify-content: space-between;
    gap: 12px;
    flex-direction: column;
}

.about {
    gap: 12px;
}

.work-logo {
    height: 38px;
}

.logo {
    height: 38px;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 38px;
}

p {
    font-size: 26px;
    text-align: center;
}

a {
    cursor: pointer;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 34px;
    }
    p {
        font-size: 24px;
    }
    .work-logo {
        height: 34px;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 24px;
        text-align: center;
    }
    p {
        font-size: 20px;
    }
    .work-logo {
        height: 24px;
    }
    .logo {
        height: 32px;
    }
    .horizontal-center {
        column-gap: 6px;
        flex-wrap: wrap;
    }
}

@media (max-width: 540px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
    .work-logo {
        height: 20px;
    }
}

@media (max-width: 460px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    .work-logo {
        height: 16px;
    }
    .logo {
        height: 28px;
    }
}

@media (max-width: 380px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
    .work-logo {
        height: 14px;
    }
    .logo {
        height: 28px;
    }
}
