.portfolio-title {
  margin-top: 8vw;
}

#project7 {
  padding-top: 1vw;
}

@media (max-width: 500px) {
  .portfolio-title {
    margin-top: 10vw;
  }
}

@media (max-width: 350px) {
  .portfolio-title {
    margin-top: 15vw;
  }
}
