.mole-game {
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 3vw;
  padding-bottom: 3vw;
}

.game-header {
  text-align: center;
  width: 100%;
}

.mole-row {
  display: flex;
  justify-content: space-evenly;
  max-width: 1000px;
  margin: 0 auto;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  border: none;
  border-radius: 4px;
  background-color: grey;
  color: white;
  font-size: 16px;
  padding: 14px 40px;
  transition-duration: 0.4s;
  /* margin: 10px; */
}

.btn:hover {
  background-color: #d4a405;
  color: black;
}

.btn:active {
  outline: none;
}
