.mole-game {
  border: 1px solid black;
  border-radius: 3px;
  padding-bottom: 3vw;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.game-header {
  text-align: center;
  width: 100%;
}

.mole-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* max-width: 1000px; */
  margin: 0 2vw;
}

.break {
  display: block;
  height: 1px;
  width: 100%;
}

.btn-container {
  margin-top: 4vw;
  display: flex;
  justify-content: center;
}

.btn {
  border: none;
  border-radius: 4px;
  background-color: grey;
  color: white;
  font-size: 16px;
  padding: 14px 40px;
  transition-duration: 0.4s;
  /* margin: 10px; */
}

.btn:hover {
  background-color: #d4a405;
  color: black;
}

.btn:active {
  outline: none;
}

@media (min-width: 1000px) {
  .mole-row {
    flex-wrap: nowrap;
  }
  .break {
    display: none;
  }
}
