.page {
  padding: 3vw 13vw;
  max-width: 1300px;
  margin: 0 auto;
}

h1 {
  display: inline-block;
  border-bottom: 0.3vw solid black;
  font-size: calc(40px + 1vw);
  margin-top: 4vw;
  margin-bottom: 4vw;
}

h2 {
  display: inline-block;
  border-bottom: 0.3vw solid black;
  font-size: calc(30px + 1vw);
  margin-top: 8vw;
}

h3 {
  margin-top: none;
  font-size: calc(17px + 1vw);
  display: inline-block;
  border: none;
}

h4 {
  margin-top: none;
  font-size: calc(15px + 1vw);
  display: inline-block;
  border: none;
}

h5 {
  margin-top: none;
  font-size: calc(13px + 1vw);
  display: inline-block;
  border: none;
}

p {
  font-size: calc(9px + 1vw);
  font-weight: 200;
}

a {
  font-size: calc(13px + 1vw);
}

a:hover {
  text-decoration: underline;
}

li {
  font-size: calc(9px + 1vw);
  font-weight: 200;
  margin-bottom: 1vw;
}

.featured-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-image: url("../images/plus-solid.svg");
}

.sticky-wrapper {
  position: relative;
}

.sticky .sticky-inner,
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0vw auto;
  padding-top: 1vw;
  background-color: white;
}

.portfolio-link {
  margin-right: 2vw;
}

.html-text a {
  font-size: calc(9px + 1vw);
  font-weight: bolder;
}

@media (min-width: 1600px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 35px;
  }

  h5 {
    font-size: 30px;
  }

  p {
    font-size: 25px;
  }

  a {
    font-size: 30px;
  }

  li {
    font-size: 25px;
  }
}

@media (max-width: 900px) {
  #home {
    padding-left: 9vw;
    padding-right: 9vw;
  }
  .sticky .sticky-inner {
    padding-left: 9vw;
    padding-right: 9vw;
  }

  .header {
    padding-left: 9vw;
    padding-right: 9vw;
  }
}

@media (max-width: 500px) {
  #home {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .sticky .sticky-inner {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .header {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
