#home {
  padding-top: 3vw;
  padding-left: 13vw;
  padding-right: 13vw;
  padding-bottom: 3vw;
}

h1 {
  display: inline-block;
  border-bottom: 0.3vw solid black;
  font-size: 4vw;
  margin-top: 1vw;
}

h2 {
  display: inline-block;
  border-bottom: 0.3vw solid black;
  font-size: 3vw;
}

h3 {
  margin-top: none;
  font-size: 2.2vw;
  display: inline-block;
  border: none;
}

h4 {
  margin-top: none;
  font-size: 1.8vw;
  display: inline-block;
  border: none;
}

h5 {
  margin-top: none;
  font-size: 1.3vw;
  display: inline-block;
  border: none;
}

p {
  font-size: 1.3vw;
}

a {
  font-size: 1.5vw;
}

a:hover {
  text-decoration: underline;
}

.featured-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-image: url("../images/plus-solid.svg");
}

.sticky-wrapper {
  position: relative;
  /* height: 5vw; */
}

.sticky .sticky-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-top: 1vw;
  padding-left: 13vw;
  padding-right: 13vw;
  padding-bottom: 1vw;
  background-color: white;
}
.header {
  display: flex;
  justify-content: space-between;
}

.portfolio-link {
  margin-right: 2vw;
}

@media (max-width: 800px) {
  #home {
    padding-left: 9vw;
    padding-right: 9vw;
  }
  .sticky .sticky-inner {
    padding-left: 9vw;
    padding-right: 9vw;
  }

  h3 {
    font-size: 2.8vw;
  }

  h4 {
    font-size: 2.5vw;
  }

  h5 {
    font-size: 2.2vw;
  }

  a {
    font-size: 2.5vw;
  }

  p {
    font-size: 2vw;
  }
}

@media (max-width: 500px) {
  #home {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .sticky .sticky-inner {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
