/* .featured-projects {
  margin-top: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} */
.img-carousel {
  width: 50%;
  margin: 0 auto;
}
.control-dots {
  background-color: transparent;
  bottom: -6px;
}

.featured-projects {
  height: fit-content;
}

.projects-title {
  margin-bottom: 5vw;
}
