html {
    margin-top: 3vw;
    margin-left: 13vw;
    margin-right: 13vw;
    margin-bottom: 3vw;
}

/* .all-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img {
    min-width: 250px;
    margin: 3vw;
}

.img:hover {
    opacity: 0.4;
}

.hoverable:hover img {
    opacity: 0.5; */
