.img:hover {
  opacity: 0.3;
}

.project-img {
  position: relative;
  width: 15vw;
  height: 100%;
  margin: 1.5vw;
  color: transparent;
}

.project-img:hover {
  color: black;
}

.project-text .project-summary {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 15vw;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.project-text .project-summary p {
  font-size: calc(0.5vw + 10px);
}

.project-text .project-language {
  margin-top: 0;
}

.summary-title {
  text-align: center;
}
