.hole {
  flex: 1 1 160px;
  position: relative;
  height: calc(60px + 16vw);
  max-height: 200px;
  width: calc(80px + 10vw);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .hole {
    height: calc(70px + 20vw);
    max-height: 2000px;
  }
}

@media (max-width: 500px) {
  .hole {
    height: calc(70px + 20vw);
  }
}
